.container1{
    background-image: url('../images/orel.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 1000px;
    min-height: 568px;
    background-position-x: 50%;
    color: #ffffff;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 30px;
    font-weight: 700;
    padding: 25px 0;
    /* color: #ffffff; */
}

.menu{
    padding-top: 15px;
}

.menu ul{
    display: flex;
}

.menu ul li{
    padding: 0 27px;
    transition: 0.3s;
    cursor: pointer;
}

.menu ul li a, .menu ul li i{
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    padding-bottom: 10px;
}

.menu ul li:hover a, .menu ul li a:focus {
    color: #fce38a;
    border-bottom: 3px solid #fce38a;
    transition: 0.3s;
}

.menu ul li:hover i, .menu ul li i:focus{
    color: #fce38a;
    transition: 0.3s;
}

.content{
    text-align: center;
}

.content h2{
    font-size: 32px;
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
    padding-top: 10vh;
}

.content h3{
    font-weight: 600;
    font-size: 70px;
    padding-top: 15px;
    text-transform: uppercase;

}

.line{
    width: 60px;
    height: 2px;
    background-color: #fff;
    display: block;
    margin: 0 auto;
    margin-top: 72px;
}

.btn{   
    margin-bottom: 140px;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 50px;
    display: inline-block;
    padding: 21px 42px;
    transition: 0.5s ease-in-out;
    border: 2px solid #fff;
}

.content2{
    text-align: center;    
}

.content2 h2{
    font-size: 32px;
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
    padding-top: 10vh;
}

.content2 h3{
    font-weight: 600;
    font-size: 30px;
    text-transform: uppercase;
}

.line-red{
    width: 60px;
    height: 2px;
    background-color: red;
    display: block;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 48px;
}

.content2 p{
    display: flex;
    flex: 200px;
    color: #999999;
    flex-wrap: wrap;
}

.cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 110px;
}

.cards .item img{
    max-width: 100%;
    width: 100%;
}

.cards .item{
    position: relative;
    width: 32%;
    transition: 0.5s;
}

.cards .item:hover{
    box-shadow: 10px 10px #95e1d3;
    position: relative;
    bottom: 10px;
    right: 10px;
    transition: 0.5s;
    cursor: pointer;
}

/* container 3 */

.container3{
    background-color: #95e1d3;
}

.content3{
    display: flex;
    text-align: center;
    text-transform: uppercase;
}
.content3 div{
    border: 1px solid #b5eae0;
    width: 20%;
    color: white;
    padding-top: 65px;
    padding-bottom: 65px;
}

.content3 h3{
    font-size: 72px;
    font-weight: 700;
}

.content3 p{
    font-size: 14px;
    font-weight: 400;
}

/* container 4 */

.content4{
    text-align: center;    
}

.content4 h2{
    font-size: 32px;
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
    padding-top: 10vh;
}

.content4 h3{
    font-weight: 600;
    font-size: 30px;
    text-transform: uppercase;
}

.line-red{
    width: 60px;
    height: 2px;
    background-color: red;
    display: block;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 48px;
}

.container_4 .my_item{
    padding: 52px;
}
.container_4  .my_item i{
    font-size: 35px;
}
.container_4 .my_item h3{
    text-transform: uppercase;
    font-size: 15px;
    color: #333333;
}
.container_4 .my_item p{
        font-family: 'Roboto';
        font-size: 15px;
        color: #999;
        width: 95%;
}
/* container6 */

.content6{
    text-align: center;
}

.content6 h2{
    font-size: 32px;
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
    padding-top: 10vh;
    color: #000;
}

.content6 h3{
    color: #000;
    font-weight: 600;
    font-size: 30px;
    text-transform: uppercase;
}

.line-red{
    width: 60px;
    height: 2px;
    background-color: red;
    display: block;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 48px;
}

.content6 {
    display: flex;
    flex: 200px;
    justify-content: center;
    color: #999999;
    flex-wrap: wrap;
}
.flex-6{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 95px;
}

.container6 .photo6 img{
    width: 570px;
    height: 380px;
}

.panel-info{
    width: 600px;
    height: 380px;
    margin-left: 30px;
}
/* content10 */

.container10{
    text-align: center;    
}

.content10 h2{
    font-size: 32px;
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
    padding-top: 10vh;
}

.content10 h3{
    font-weight: 600;
    font-size: 30px;
    text-transform: uppercase;
}

.line-red{
    width: 60px;
    height: 2px;
    background-color: red;
    display: block;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 48px;
}

.content10 p{
    display: flex;
    flex: 200px;
    color: #999999;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 1rem;

}

.grid_cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /*repeat(1fr, 4)*/
    grid-template-rows: 1fr 1fr;
    line-height: 0;
}

.grid_cards .item:nth-child(3){
    grid-column: 3/4;
    grid-row: 1/3;
}

.grid_cards .item img{
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.container12 .container_add{
    padding-top: 85px;
    padding-bottom: 62px;
}

.container12{
    background-image: url("../images/fon12.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.container12 .container_add .our_item{
    padding-bottom: 70px;
}

.container12 .container_add .our_item h5{
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
    font-weight: 500;
}

.container12 .container_add .our_item .about{
    font-family: 'Roboto';
    font-weight: 300;
    font-style: italic;
    color: #4b4b4b  ;
    font-size: 15px;
}

.container12 .container_add .our_item .descr{
    font-family: 'Roboto';
    font-size: 15px;
    color: #999;
    width: 95%;
}

.container12 .container_add .our_item hr{
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
}

.container12 .container_add .our_item img{
    margin-right: 2rem !important;
}
@media(min-height: 1000px){
    .content h2{
        padding-top: 130px;
    }
}

@media(max-width: 1024px){
    .menu{
        display: none;
    }
    .cards .item{
        width: 48%;
        margin-bottom: 20px;
    }
    .counter{
        flex-wrap: wrap;
    }
    .numbres div{
        width: 33%;
    }


    .grid_cards{
        grid-template-columns: 1fr 1fr;
    }
    .grid_cards .item:nth-child(3){
        grid-column: 1/2;
        grid-row: 2/4;
    }
}

@media(max-width: 900px){
    .content h1{
        font-size: 120px;
        line-height: 120px;
    }
}

@media(max-width: 768px){
    .content h2{
        font-size: 48px;
    }
    .content h1{
        font-size: 100px;
        line-height: 100px;
    }
    .numbres div{
        width: 40%;
        margin-left: 50px;
    }
    .container12 .container_add .our_item .descr{
        width: 100%;
        /* padding меньше сделать */
    }
}

@media(max-width: 600px){
    .cards .item{
        width: 100%;
    }
    .content h1{
        font-size: 80px;
        line-height: 80px;
    }
    .numbres div{
        width: 40%;
        margin-left: 35px;
    }
}

@media(max-width: 475px){
    .content h3{
        font-size: 33px;
    }
    .content h1{
        font-size: 60px;
        line-height: 60px;
    }
    .numbers{
        flex-direction: column;
    }
    .content3 h3 {
        font-size: 40px;
    }
    .counter div{
        width: 100%;
        margin-left: 0;
    }
}

@media(max-width: 425px){
    .content h3{
        font-size: 33px;
    }
    .content h2{
        font-size: 36px;
    }
    .content h1{
        font-size: 50px;
        line-height: 50px;
    }
    .grid_cards{
        grid-template-columns: 1fr;
    }
    .grid_cards .item:nth-child(3){
        grid-row: 3/5;
    }
}
@media(max-width: 320px){
    .content4 p{
        font-size: 26px;
    }
    .content3 h3 {
        font-size: 30px;
    }
    .content3 p{
        font-size: 10px;
    }
    .btn {
        padding: 10px 25px;
    }
}




*{
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    list-style-type: none;
}
.center{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}


.wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 110px;
    align-items: center;
}


