* {
    padding: 0;
    margin: 0;
    bottom: 0;
    outline: 0;
    list-style-type: none;
  }
  body {
    font-family: 'Montserrat', sans-serif;
    color: #333;
  }
  .wrapper {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
  }
  .center {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
  }

.container1{
    background-image: url('../images/orel.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 1000px;
    min-height: 568px;
    background-position-x: 50%;
    color: #ffffff;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 30px;
    font-weight: 700;
    padding: 25px 0;
    /* color: #ffffff; */
}

.menu{
    padding-top: 15px;
}

.menu ul{
    display: flex;
}

.menu ul li{
    padding: 0 27px;
    transition: 0.3s;
    cursor: pointer;
}

.menu ul li a, .menu ul li i{
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    padding-bottom: 10px;
}

.menu ul li:hover a, .menu ul li a:focus {
    color: #fce38a;
    border-bottom: 3px solid #fce38a;
    transition: 0.3s;
}

.menu ul li:hover i, .menu ul li i:focus{
    color: #fce38a;
    transition: 0.3s;
}

.content{
    text-align: center;
}

.content h2{
    font-size: 32px;
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
    padding-top: 10vh;
}

.content h3{
    font-weight: 600;
    font-size: 70px;
    padding-top: 15px;
    text-transform: uppercase;

}

.line{
    width: 60px;
    height: 2px;
    background-color: #fff;
    display: block;
    margin: 0 auto;
    margin-top: 72px;
}

.btn{   
    margin-bottom: 140px;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 50px;
    display: inline-block;
    padding: 21px 42px;
    transition: 0.5s ease-in-out;
    border: 2px solid #fff;
}

.content2{
    text-align: center;
    margin-top: 90px;
}

.content2 h4{
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #333333;
}

.content2 h3{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333333;
    margin-top: 10px;
    margin-bottom: 30px;
}

.line-red{
    width: 60px;
    height: 2px;
    background-color: red;
    display: block;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 48px;
}

.content2 p{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #999999;
}

.cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 110px;
}

.cards .item img{
    max-width: 100%;
    width: 100%;
}

.cards .item{
    position: relative;
    width: 32%;
    transition: 0.5s;
}

.cards .item:hover{
    box-shadow: 10px 10px #95e1d3;
    position: relative;
    bottom: 10px;
    right: 10px;
    transition: 0.5s;
    cursor: pointer;
}

/* container 3 */

.container3{
    background-color: #95e1d3;
}

.content3{
    display: flex;
    text-align: center;
    text-transform: uppercase;
}
.content3 div{
    border: 1px solid #b5eae0;
    width: 20%;
    color: white;
    padding-top: 65px;
    padding-bottom: 65px;
}

.content3 h3{
    font-size: 72px;
    font-weight: 700;
}

.content3 p{
    font-size: 14px;
    font-weight: 400;
}

/* container 4 */

.content4{
    text-align: center;
    margin-top: 90px;
}

.content4 h4{
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #333333;
}


.content4 h3{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333333;
    margin-top: 10px;
    margin-bottom: 30px;
}

.container_4 .my_item{
    padding: 52px;
}
.container_4  .my_item i{
    font-size: 35px;
}
.container_4 .my_item h3{
    text-transform: uppercase;
    font-size: 15px;
    color: #333333;
}
.container_4 .my_item p{
        font-family: 'Roboto';
        font-size: 15px;
        color: #999;
        width: 95%;
}

/* container5 */

.container5{
    background:url(../images/mountain_5.png) no-repeat;
    background-size:cover;
    text-align:center;
    padding-top:96px;
    }
    
    .container5-pad {
    z-index:1;
    margin-left:4.5%;
    }
    
    .container5-phone {
    z-index:2;
    margin-bottom:-326px;
    margin-left:-167px;
    }
/* container6 */
.content6{
    text-align: center;
    margin-top: 90px;
}

.content6 h4{
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #333333;
}

.content6 h3{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333333;
    margin-top: 10px;
    margin-bottom: 30px;
}

.content6 p{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #999999;
}

.container6 .text-info{
    overflow-y: scroll;
    width: 600px;
    height: 180px;
}

.container6 .container img{
    height: 100%;
    padding-left: 0;
}

.container6 .container_add{
    margin-top: 90px;
    margin-bottom: 120px;
}
.container6 .container_add .line{
    padding-right: 0;
}

.container6 .container_add .spisok{
    background-color: transparent;
    padding: 10px 0 10px 7px;
    height: 60px;
}

.container6 .container_add button{
    font-weight: 500;
    font-size: 14px;
    color: #333333;
    text-transform: uppercase;
    text-decoration: none;
}

.container6 .container_add button .button_text{
    display: flex;
    align-items: center;
}

.container6 .container_add button i{
    font-size: 32px;
    color: #95e1d3;
    padding-right: 10px;
}

.container6 .container_add .par{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 300;
    color: #acacac;
}
.container6 .my-btn{
    padding: 21px 15px;
    margin-top: -5px;
}

.container6 .my-accord {
    margin-top: 0;
    height: 385px;
    width: 60px;
}

.container6 .my-h2{
    width: 600px;
    height: 60px;
} 
.img-fluid{
    max-width: 100%;
}

.panel-title{
    margin-top: -10px;
}

.container7 {
    background-color: #f8f8f8;
    padding: 70px 0;
  }
  .container7 .media-img1 {
    padding: 43px;
    border: solid 3px #95e1d3;
    margin-right: 10%;
  }
  .container7 .media img {
    width: 63px;
  }
  .carousel-control-prev-icon {
    background-image: url(../images/up-arrow.svg);
    transform: rotate(-90deg);
    width: 35px;
    height: 35px;
  }
  .carousel-control-next-icon {
    background-image: url(../images/up-arrow.svg);
    transform: rotate(90deg);
    width: 35px;
    height: 35px;
  }
  .container7 .media-body, .container11 .media-body {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .container7 p, .container11 p {
    font-style: italic;
    font-size: 24px;
  }
  .container7 i, .container11 i {
    margin: 0;
    margin-right: 10px;
  }
  .container7 span, .container11 span {
    font-family: "Kaushan Script", italic;
    font-size: 24px;
  }

  .container8 .gallery{
    margin-top: 90px;
    margin-bottom: 120px;
}

.container8 .card-add{
    width: 32%;
    text-align: center;
}

.container8 .card-add img{
    width: 100%;
}

.container8 .card-add .text-2{
    margin-top: 30px;
}

.container8 .gallery .images-gall{
    position: relative;
}

.container8 .gallery .images-gall:hover{
    top: -10px;
    left: -10px;
    box-shadow: #95e1d3 10px 12px;
    transition: 0.8s ease;
}

.container8 .gallery .hidden{
    transition: 0.5s;
    text-align: center;
    color: #ffffff;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.container8 .gallery .images-gall:hover .hidden{
    opacity: 1;
}

.container8 .gallery .icons{
    display: flex;
    justify-content: center;
    margin-top: 55%;
}

.container8 .gallery .mini{
    padding-top: 15px;
    padding-bottom: 15px;
    width: 56px;
    background-color: #fce38a;
    border-right: 1px solid #f9bd87;
}

.container8 .gallery .mini:last-child{
    border-right: none;
}

.container8 .gallery .mini i{
    font-size: 26px;
    color: #f38181;
}

.container8 .gallery .mini:hover{
    background-color: #f38181;
}

.container8 .gallery .mini:hover i{
    color: #fce38a;
}

.container8 .text {
    margin-top: 30px;
}

.container9 {
    background-color:#f8f8f8;
    padding:50px 0;
    text-align:center;
    }
    
    .container9 img:hover {
    animation:rot .5s 0s normal none;
    -webkit-animation:rot .5s 0s normal none;
    }
/* content10 */

.content10{
    text-align: center;
    margin-top: 90px;
}

.content10 h4{
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #333333;
}

.content10 h3{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333333;
    margin-top: 10px;
    margin-bottom: 30px;
}

.content10 p{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #999999;
}

.grid_cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /*repeat(1fr, 4)*/
    grid-template-rows: 1fr 1fr;
    line-height: 0;
}

.grid_cards .item:nth-child(3){
    grid-column: 3/4;
    grid-row: 1/3;
}

.grid_cards .item img{
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container11 {
    padding: 100px 0;
  }
  .container11 .media-img1 {
    margin-right: 10%;
  }
  .container11 .media-img1 img {
    width: 210px;
    border-radius: 50%;
  }

.container12 .container_add{
    padding-top: 85px;
    padding-bottom: 62px;
}


.container12{
    background-image: url("../images/fon12.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.container12 .container_add .our_item{
    padding-bottom: 70px;
}

.container12 .container_add .our_item h5, .container8 .card-add .text h5{
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
    font-weight: 500;
}

.container12 .container_add .our_item .about, .container8 .card-add .text .about{
    font-family: 'Roboto';
    font-weight: 300;
    font-style: italic;
    color: #4b4b4b  ;
    font-size: 15px;
}

.container8 .card-add .text .about{
    color: #a6a6a6;
}

.container12 .container_add .our_item .descr{
    font-family: 'Roboto';
    font-size: 15px;
    color: #999;
    width: 95%;
}

.container12 .container_add .our_item hr{
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
}

.container12 .container_add .our_item img{
    margin-right: 2rem !important;
}

.container13 {
    padding-top:110px;
    padding-bottom:115px;
    text-align:center;
    }
    
    .container13 .card-deck {
    padding:0;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    }
    
    .container13-card {
    margin-top:47px;
    text-align:left;
    border:none;
    }
    
    .container13-img {
    position:relative;
    }
    
    .container13-img img {
    z-index:2;
    }
    
    .container13-date {
    position:absolute;
    width:60px;
    height:70px;
    background-color:#95e1d3;
    z-index:1;
    left:-10px;
    bottom:10px;
    color:#fff;
    text-align:center;
    padding:3% 0;
    }
    
    .container13-date h3 {
    margin:0;
    line-height:25px;
    }
    
    .container13-date p {
    font-style:italic;
    color:#fff;
    }
    
    .container13-card .card-body {
    padding:0;
    padding-top:20px;
    }
    
    .container13-card .card-body p {
    display:block;
    padding-bottom:20px;
    border-bottom:1px solid #e5e5e5;
    }
    
    .container13-card .card-body span {
    font-family:'Roboto',sans-serif;
    font-size:15px;
    font-weight:300;
    color:#999;
    margin-right:18px;
    }
    
    .container13-card .card-body i {
    color:#95e1d3;
    margin-right:7px;
    }
    .container14 {
        position:relative;
        }
        
        .content14 {
        position:absolute;
        width:100%;
        height:100%;
        background-image:url(../img/background-map.png);
        text-align:center;
        }
        
        .content14 img {
        width:20px;
        margin-top:57px;
        }
        
        .content14 h4 {
        font-family:'Montserrat',sans-serif;
        font-weight:700;
        color:#f38181;
        margin-top:15px;
        }
        
        .content14 .line {
        margin-top:20px;
        }
        
        #map {
        width:100%;
        height:200px;
        }

footer {
    padding-top:72px;
    }
    
    .container15 {
    display:grid;
    grid-template-columns:7fr 5fr 3fr;
    padding-bottom:67px;
    border-bottom:1px solid #e5e5e5;
    }
    
    .container15 .subscribe {
    padding-right:11%;
    }
    
    .container15 .subscribe h3 {
    margin:0;
    font-size:46.5px;
    font-weight:700;
    color:#ccc;
    margin-bottom:40px;
    }
    
    .container15 .subscribe p {
    margin-bottom:48px;
    }
    
    .container15 .subscribe span {
    display:block;
    font-size:14px;
    margin-bottom:18px;
    }
    
    .container15 .subscribe h6 {
    display:inline-block;
    font-size:18px;
    font-weight:700;
    color:#000;
    }
    
    .container15 .socials {
    border-top:1px solid #e5e5e5;
    margin-bottom:38px;
    padding-top:18px;
    }
    
    .container15 .socials p {
    margin:0;
    font-style:italic;
    display:inline-block;
    margin-right:18px;
    }
    
    .container15 .socials i {
    color:#95e1d3;
    font-size:14px;
    margin-right:8px;
    }
    
    .container15 .mail {
    width:380px;
    }
    
    .container15 .mail input {
    border-radius:0;
    border:solid 1px #e7e7e7;
    }
    
    .container15 .mail input::-webkit-input-placeholder {
    font-family:'Roboto',sans-serif;
    font-size:15px;
    font-weight:300;
    font-style:italic;
    color:#ccc;
    }
    
    .container15 .mail button {
    border-radius:0;
    border:none;
    background-color:#95e1d3;
    color:#fff;
    font-size:14px;
    line-height:10px;
    font-weight:700;
    padding:14px 33px;
    }
    
    .container15 .blogs {
    display:grid;
    grid-template-columns:1fr;
    }
    
    .container15 .blogs h5, .container15 .instagram h5 {
    margin-bottom:40px;
    }
    
    .container15 .blogs_blog {
    display:grid;
    grid-template-columns:120px 2fr;
    padding-bottom:10px;
    }
    
    .container15 .blogs_blog h5 {
    display:inline-block;
    font-size:12px;
    line-height:1.5;
    margin-bottom:10px;
    }
    
    .container15 .blogs-text {
    padding:13px 0;
    padding-left:18px;
    padding-right:25px;
    }
    
    .container15 .blogs-text p, .container15 .instagram p {
    font-style:italic;
    font-size:13px;
    margin:0;
    }
    
    .container15 .instagram__img {
    display:grid;
    grid-template-columns:repeat(3,88px);
    grid-gap:2px;
    padding:15px 0;
    }
    
    .copyright {
    display:block;
    text-align:center;
    padding:22px 0;
    font-size:14px;
    }
    
    .copyright a {
    text-decoration:none;
    color:#f38181;
    }
@media(min-height: 1000px){
    .content h2{
        padding-top: 130px;
    }
}

@media(max-width: 1024px){
    .menu{
        display: none;
    }
    .cards .item{
        width: 48%;
        margin-bottom: 20px;
    }
    .counter{
        flex-wrap: wrap;
    }
    .numbres div{
        width: 33%;
    }


    .grid_cards{
        grid-template-columns: 1fr 1fr;
    }
    .grid_cards .item:nth-child(3){
        grid-column: 1/2;
        grid-row: 2/4;
    }
}

@media(max-width: 900px){
    .content h1{
        font-size: 120px;
        line-height: 120px;
    }
    .container15 {
        grid-template-columns: 5fr 5fr;
    }
    .mail{
        margin-right: 50px;
    }
}

@media(max-width: 768px){
    .content h2{
        font-size: 48px;
    }
    .content h1{
        font-size: 100px;
        line-height: 100px;
    }
    .numbres div{
        width: 40%;
        margin-left: 50px;
    }
    .container12 .container_add .our_item .descr{
        width: 100%;
        /* padding меньше сделать */
    }
}

@media(max-width: 600px){
    .cards .item{
        width: 100%;
    }
    .content h1{
        font-size: 80px;
        line-height: 80px;
    }
    .numbres div{
        width: 40%;
        margin-left: 35px;
    }
    .container15 {
        grid-template-columns: 0fr;
    }
    .container5-phone{
        width: 160px;
    }
    .container5-pad{
        width: 450px;
    }
    .container3 h3 {
        font-size: 55px;
    }
}

@media(max-width: 475px){
    .content h3{
        font-size: 33px;
    }
    .content h1{
        font-size: 60px;
        line-height: 60px;
    }
    .numbers{
        flex-direction: column;
    }
    .content3 h3 {
        font-size: 40px;
    }
    .counter div{
        width: 100%;
        margin-left: 0;
    }
    .container15 .instagram__img {
        grid-template-columns: repeat(3,163px);
    }
    .container5-pad{
        width: 380px;
    }
    .container13 .card-deck{
        grid-template-columns: repeat(1,1fr);
    }
}

@media(max-width: 425px){
    .content h3{
        font-size: 33px;
    }
    .content h2{
        font-size: 36px;
    }
    .content h1{
        font-size: 50px;
        line-height: 50px;
    }
    .grid_cards{
        grid-template-columns: 1fr;
    }
    .grid_cards .item:nth-child(3){
        grid-row: 3/5;
    }
}
@media(max-width: 320px){
    .content4 p{
        font-size: 26px;
    }
    .content3 h3 {
        font-size: 30px;
    }
    .content3 p{
        font-size: 10px;
    }
    .btn {
        padding: 10px 25px;
    }

    .container15 .instagram__img {
        grid-template-columns: repeat(3,85px);
    }
}